<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kopiqueapps">

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="Kopique"
        android:supportsRtl="true"
        android:theme="@style/Theme.KopiqueApps">

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>